@model OpenLaboratory.Web.Models.Laboratory

@{
    ViewData["Title"] = "实验室详情";
}

<h1>详情</h1>
<h4>实验室</h4>
<hr />

<div class="container">
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">编辑实验室</a>
        <a asp-action="Index" class="btn btn-primary">返回实验室列表</a>
    </div>
    <div class="row">
        @foreach (var equ in Model.Equipments)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 py-3 px-lg-5 ">
                <partial name="EquipmentCard" model="equ" />
            </div>
        }
    </div>
</div>



